.game{ 
  display: flex;
  flex-direction: column;  
  justify-content: center;
  max-width: 550px;
}
.question-list{ 
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.results{ 
  display: flex;
  justify-content: center;
  margin: 20px 0; 
}